body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f4f6;
    color: #222;
}

header {
    text-align: center;
    padding: 40px;
    background: #111;
    color: white;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 3px solid white;
}

section {
    width: 80%;
    margin: 40px auto;
}

h2 {
    border-left: 5px solid #111;
    padding-left: 10px;
}

ul {
    list-style: none;
    gap: 10px;
    padding-left: 0;
}

.projects {
    display: block;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.card a {
    text-decoration: none;
    color: #0074ff;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 15px;
    background: #111;
    color: white;
    margin-top: 30px;
}
